body {
  /* background-color: indigo; */
  background-image: url("../img/starry_sky.jpg");
}

div {
  text-align: center;
  color: powderblue;
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  /* font-family: 'Cabin Sketch', bold; */
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  border: 2px solid powderblue;
  /* font-style: italic;
  font-weight: bold; */
  color: #fb2efa;
  /* color: #A26AC1; */
  font-size: 55px;
  border-radius: 50px;
  /* letter-spacing: 3px; */
}

h3 {
  color: powderblue;

  /* border: 1px solid white; */
  display: block;
  text-align: center;
}

img {
  /* display: flex; */
  opacity: 0.5;
  max-width: 500px;
  max-height: 700px;
  align-items: center;
  /* border: 10px solid #fb2efa; */
  border: 10px solid #fb2efa;
  /* border: 10px solid powderblue; */
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.button {

  background-color: #fb2efa;
  border: 1px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  width: 100px;
  height: 55px;
}


#gameBoard {
  display: flex;
  justify-content: center;
  /* background-image: url("../img/Wicdiv16.png");
  background-image: url("../img/Issue_24.jpg"); */
}


.deck {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 200px;
}

#dealer, #player {

}

.card {
  display: flex;
  justify-content: center;
  height:150px ;
  width:100px ;
  border: 8px solid #2f79d4;
  text-align: center;
  background-color: #5e3e70;
  color: #d8c6db;
  border-radius: 25px;
  font-family: 'Cabin Sketch', bold;
  padding: 2px 2px 2px 2px;

}

.dealerCard {
  display: flex;
  justify-content: center;
  height:150px ;
  width:100px ;
  border: 8px solid #2f79d4;

  background-color: #5e3e70;
  color: #d8c6db;
  border-radius: 25px;
  font-family: 'Cabin Sketch', bold;
  padding: 2px 2px 2px 2px;

}

#dealDealer {
  background-color: blue;
  border: 1px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  width: 100px;
  height: 55px;
}
